body {
  background-color: #f7c9b6;
}

.main {
  display: grid;
  grid-template: 4 /1;
}

text {
  font-size: 40px;
  font-style: italic;
  color: white;
}
/* main child */
.header {
  /* display: grid;
  grid-template: 8 / 16; */
  display: flex;
  justify-content: space-between;
  /* background-color: crimson; */
  background-image: url(./asset/background.png);
  background-size: cover;
  height: 780px;
  /* max-width: 1915px; */
  position: relative;
  /* background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

.story {
  background-color: #549bad;
  position: relative;
  height: 780px;
}

.personal {
  background-color: #83bdc0;
  position: relative;
  height: 780px;
}

footer {
  background-color: blue;
  position: relative;
  height: 180px;
}

/* header child */
.leftheader {
  display: flex;
  align-items: flex-end;
}

.rightheader {
  align-items: flex-start;
}

.mystory {
  grid-template: 2 / 12 / span 2 / span 3;
  margin: 50px;
}
.personalparticular {
  margin: 50px;
}
.experience {
  margin: 50px;
}
.portfolio {
  margin: 50px;
}
.contact {
  margin: 50px;
}
