body {
  background-image: url("./asset/bg.png");
}

header {
  text-align: center;
  font-size: 50px;
  font-family: "Caveat";
  background-color: #f6d4d2;
  padding: 10px;
  word-spacing: 0.3em;
}

img {
  width: 440px;
  height: 300px;
  margin: 10px;
  align-content: space-between;
}

.card {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 80px;

  /* background-image: url("../public/images/background.png"); */
}
